modules = ["nodejs-20", "web", "python-3.11", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["cargo", "chromium", "freetype", "lcms2", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "rustc", "tcl", "tk", "zlib"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Migrate Vasilek Data"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Migrate Dingo Data"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Migrate Probiko Data"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Migrate Vasilek Data"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash scripts/run-migration-replit.sh"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Migrate Dingo Data"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash scripts/run-migration-dingo.sh"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Migrate Probiko Data"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash scripts/run-migration-probiko.sh"

[workflows.workflow.metadata]
outputType = "console"

[agent]
integrations = ["javascript_database:1.0.0", "javascript_openai:1.0.0"]

[userenv]

[userenv.shared]
VETAIS_DB_HOST = "45.128.206.134"
VETAIS_DB_PORT = "5454"
VETAIS_DB_USER = "postgres"
VETAIS_DB_PASSWORD = "ASPI6rin"
VETAIS_DB_NAME = "vetais_alisavet"
VETAIS_HAKS_DB_NAME = "vetais_haks"
